Package: com.nahtedetihw.ifaded
Name: iFaded
Depends: mobilesubstrate, ws.hbang.common
Version: 1.3
Architecture: iphoneos-arm
Description: iPhone App Switcher for iPad!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
