<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Page Scale (Respring Required)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.nahtedetihw.ifaded</string>
			<key>key</key>
			<string>pageScale</string>
			<key>max</key>
			<real>0.75</real>
			<key>min</key>
			<real>0.25</real>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.ifaded/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>nahtedetihw</string>
			<key>user</key>
			<string>EthanWhited</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>View Source Code</string>
			<key>url</key>
			<string>https://github.com/nahtedetihw/ifaded</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>Buy me a coffee ☕️</string>
			<key>url</key>
			<string>https://paypal.me/nahtedetihw</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>iFaded 1.1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2019 © nahtedetihw</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
